<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="width: 100%; height: 70vh;">
  <h1 style="color: blue;">Verification email</h1>
  <p style="color: rgba(0, 0, 0, 0.737);">Please Click on the button to verify your account.</p>
  <a href="localhost:1800/api/change/:userd" style="width: 100px; height: 70px; background-color:blue">Verify accout</a>
</body>
</html>